@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --bg:#f1efea;
    --main-text:#004ba8;
    --light-text:#0052C0;
    --white:white;
    --orange:#ffa500;
    --darker-orange:#ff4500;
}
/* ----------body----------------- */
body{
    color: var(--light-text);
    font-family: 'Fira Sans', sans-serif;
    background: rgb(241, 239, 234);
    background-image: url("Images/confetti-doodles.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background-color:var(--bg);

}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-text);
}
html{
  scroll-behavior: smooth;
}

/* ----------------------header----------------------- */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(images/confetti-doodles\ \(2\).png);
    padding: 4px 4%;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--main-text);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 20px;
    transition: all .50s ease;
    position: relative;
}

.navbar a::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: -6px;
    height: 5px;
    background: var(--orange);
    height: 2px;
    left: 0;
    transition: .5s;
}

.navbar a:hover::after{
    width: 100%;
  }

.navbar a:hover{
    color: var(--orange);
}

.navbar .ar{
    color: var(--orange);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 30px;
    color: var(--main-text);
    font-size: 18px;
    font-weight: 500;
    transition: all .50s ease;
}
.main a:hover{
    color: var(--orange);
}

.user i{
    margin-left: 10px;
    margin-right:10px;
}

#menu-icon{
    font-size: 30px;
    color: var(--main-text);
    cursor: pointer;
    z-index: 1;
    display: none;
}

/* --------------------------------team---------------------------------- */
#team{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#team .team-title h1{
    text-align: center; 
    margin-bottom: 550px;
}
#team .team-title h1{
    font-size: 52px;
    color: var(--orange);
}
.swiper{
    z-index: 0 !important;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 50px 0 !important;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    width: 310px;
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--light-text); */
    background: url(images/subtle-prism\ \(2\).png);

    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    /* background-color: var(--orange); */
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--bg);
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--orange);
}
.name{
    font-size: 18px;
    font-weight: bold;
    color: var(--orange);
}
.description{
    font-size: 14px;
    color: var(--light-text);
    text-align: center;
    margin: 12px;
    line-height: 22px;
}
.swiper-navBtn{
    color: var(--orange) !important;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: var(--darker-orange) !important;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px !important;
}
.swiper-button-next{
    right: 0 !important;
}
.swiper-button-prev{
    left: 0 !important;
}
.swiper-pagination-bullet{
    background-color: var(--orange) !important;
}
/* ---------------------footer------------------------------ */
#footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer .fo-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
#footer .fo-container .foot{
    margin-right: 30px;
}
#footer .fo-container .foot.about{
    width: 40%;
}
#footer .fo-container h2{
    position: relative;
    color: var(--main-text);
    margin-bottom: 20px;
}
#footer .fo-container  h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: var(--orange);
}
#footer .fo-container p{
    line-height: 25px;
    font-size: 16px;
}
#footer .ficons{
    margin-top: 13px;
    display: flex;
}
#footer .ficons li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.5s;
}
#footer .ficons a{
    color: var(--main-text);
}
#footer .ficons li a:hover{
    background-color: var(--main-text);
    color: var(--orange);
    transform: scale(1.2);
}
#footer .info{
    position: relative;
    width: 40%;
}
#footer .info ul li{
    margin-bottom: 8px;
}
#footer .info ul li i{
    margin-right: 5px;
}

/* -------------media-------------------------- */
@media screen and (max-width: 1280px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media screen and (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 36vh;
        background: url(images/confetti-doodles\ \(2\).png);
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 10px 0;
        padding: 0px 25px;
    }

    .navbar a:hover{
        transform: translateY(5px);
    }

    .navbar.open{
        right: 2%;
    }
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none !important;
    }
}
@media screen and (max-width:900px) {
    #footer{
        padding: 40px;
    }
    #footer .fo-container{
        flex-direction: column;
    }
    #footer .fo-container .foot{
        margin-right: 50px;
        margin-bottom: 40px;
    }
    #footer .fo-container .foot.about{
        width: 50%;
    }
}
@media screen and (max-width: 700px) {
    .service{
        width: 90%;
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 600px){

      .grid{
        margin-top: 74px;
        margin-left: -145px;
        width: 200%;
      }
}